/* Styling for the sidebar */
.sidebar {
  width: 250px; // Set the width of the sidebar
  background-color: #fff; // Set the background color
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Add a box shadow
  height: 100vh; // Set the height to fill the viewport
  padding: 1rem; // Add padding
  box-sizing: border-box; // Set the box-sizing property
  display: flex; // Use flexbox for layout
  flex-direction: column; // Align items vertically
}

.sidebar-item {
  display: flex; // Use flexbox for layout
  align-items: center; // Align items vertically
  margin-bottom: 1rem; // Add margin bottom
  cursor: pointer; // Change cursor to pointer
  transition: background-color 0.3s ease; // Add transition effect

  &:hover {
    background-color: #f4f4f4; // Change background color on hover
  }

  .icon {
    margin-right: 10px; // Add margin to the right
    width: 24px; // Set width
    height: 24px; // Set height
  }
}

/* Dark mode styles for the sidebar */
.sidebar.dark-mode {
  background-color: #1c1b1b; // Set background color for dark mode
  color: #fff; // Set font color for dark mode

  .sidebar-item:hover {
    background-color: #444; // Change background color on hover in dark mode
  }

  .sidebar-item .icon {
    fill: #fff; // Change icon color in dark mode
  }
}

.settings-toggle {
  @include widget-container; // Include mixin for widget container styling
}
