// Variables
$primary-color: #255f6f;      // Define the primary color
$secondary-color: #ffffff;    // Define the secondary color
$font-family: "IBM Plex Sans","Helvetica Neue Regular",Arial,sans-serif; // Define the font family
$font-size: 16px;             // Define the base font size
$widget-padding: 30px;        // Define the padding for widgets
