@import "@/assets/scss/mixins";
@import"@/assets/scss/variables";


.daily-recipe-widget {
  /* Widget container styles */
  //@include widget-container;
  max-width: 400px;
  margin: auto;
  text-align: center;

  img {
    /* Set the recipe image styles */
    max-width: 100%;
    height: auto;
  }

  h2 {
    /* Set the recipe title styles */
    font-size: 1.5em;
  }

  .header {
    /* Header styles */
    .title {
      text-align: left;
      font-size: 15px;
      font-weight: bold;
      color: #333333;
    }

    .subtitle {
      text-align: left;
      font-size: 14px;
      color: #666666;
    }
  }
}