
@import "@/assets/scss/mixins";
@import"@/assets/scss/variables";

.weather-widget {
  @include widget-container;
  background-color: #e6eff194;
  @include transition(.3s ease);

  img {
    max-width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
  }
}
